/* .page_wraper {
  padding-left: 3vw;
  padding-bottom: 4vh;
} */

svg.MuiSelect-icon.MuiSvgIcon-root {
  width: 30px;
  height: 30px;
}

div.MuiPaper-root {
  background-color: var(--bgc-main);
  color: var(--color-main);
}

.MuiSelect-standard {
  border-bottom: 1px solid #fff;
}

.icon_filter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(290deg)
    brightness(108%) contrast(102%);
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.projects_list {
  display: flex;
  gap: max(2vw, 2vh);
  flex-wrap: wrap;
  justify-content: center;
}

.certificates_gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0 auto;
}

.certificates_gallery_item {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  width: fit-content;
  height: 360px;
  @media (max-width: 600px) {
    width: 360px;
    height: fit-content;
  }
}

.certificates_gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    @media (min-width: 600px) {
      transform: scale(1.03);
      cursor: zoom-in;
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: zoom-out;
}
