.section_wraper {
  margin: 30px 0;
  @media screen and (max-width: 650px) {
    margin: 0;
  }
}
.section_title {
  background-color: chocolate;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  width: 300px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  @media screen and (max-width: 650px) {
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 12px 0;
  }
}
.tech_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-height: 280px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  &.fit_content {
    max-height: 1000px;
  }
  @media screen and (max-width: 1000px) {
    justify-content: center;
    max-height: 326px;
  }
}

.tech_item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 30px 60px;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    margin: 15px 20px;
  }
  & > span {
    width: 60px;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
  }
}
.full_btn,
.get_contacts {
  margin: 0 76px;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  width: fit-content;
  &:hover {
    cursor: pointer;
    color: chocolate;
  }
}
.get_contacts {
  margin-left: 16px;
}
@keyframes change_bgc {
  0% {
    color: #fff;
  }
  50% {
    color: chocolate;
  }
  100% {
    color: #fff;
  }
}
.img_filter {
  filter: invert(100%) brightness(108%) contrast(102%);
}
.about {
  display: flex;
  align-items: center;
  margin-left: 60px;
  @media screen and (max-width: 650px) {
    margin: 0;
    padding-left: 10px;
  }
}
.about_info {
  width: 70%;
  font-size: 20px;
  padding-right: 30px;
  line-height: 1.5;
  @media screen and (max-width: 650px) {
    width: 100%;
    padding: 0;
    font-size: 16px;
    & > p {
      margin: 3px 0;
    }
  }
}
.avatar {
  height: auto;
  width: 100%;
}
.avatar_wraper {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 5px;
  border-radius: 50%;
  @media screen and (min-width: 1000px) {
    width: 190px;
    height: 190px;
  }
}
.short_services {
  margin: 30px 60px 10px 60px;
  padding-left: 20px;
  list-style-type: disc;
  color: chocolate;
  @media screen and (max-width: 650px) {
    margin: 0;
  }
}
.service_item {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  @media screen and (max-width: 650px) {
    font-size: 16px;
  }
}
.section_link {
  margin: 0 76px;
  font-size: 20px;
  &:hover {
    color: chocolate;
  }
}
.link_content {
  display: flex;
  align-items: center;
}
.link_text {
  align-self: center;
  // padding-top: 1px;
}
.link_arrow {
  animation-name: change_bgc;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.full_btn,
.section_link {
  @media screen and (max-width: 650px) {
    margin: 0 0 0 10px;
  }
}
.about_info > .get_contacts {
  @media screen and (max-width: 650px) {
    margin: 0 0 0 5px;
  }
}
