.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: min(1vh, 3vw) min(3vh, 4vw);
  text-transform: uppercase;
}
svg.MuiSvgIcon-root {
  width: 3.5em;
  height: 3.5em;
  fill: #fff;
}

.avatar_wraper {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @media screen and (min-width: 800px) {
    width: 120px;
    height: 120px;
  }
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.avatar {
  height: auto;
  width: 100%;
}
