.project_card {
  max-width: 360px;
  border-radius: 8px;
  background-color: rgb(31 41 55);
  border: 2px solid #999;
  width: fit-content;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.535);
  position: relative;
  @media screen and (max-width: 650px) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card_title {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  & > a:hover {
    color: chocolate;
  }
}

.tech_stack_wraper {
  position: absolute;
  top: 43px;
  right: 10px;
  width: 40px;
}

.tech_stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
  width: 100%;
  padding-top: 10px;
}

.tech_stack_tale {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid chocolate;
}

.github {
  position: absolute;
  top: 7px;
  left: 10px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.clickable_area {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  top: calc(50% - 130px);
  left: calc(50% - 130px);
  &:hover {
    background-color: #333;
    box-shadow: 0 0 50px 30px #333;
    opacity: 0.1;
    cursor: pointer;
  }
}

.card_description {
  padding: 2px 8px 5px 8px;
  margin: 0;
  font-weight: 200;
  height: 58px;
  overflow: hidden;
  font-size: 15px;
  @media screen and (max-width: 650px) {
    letter-spacing: -0.3px;
    word-spacing: -1px;
  }
}

.page_link {
  width: 100%;
  height: 100%;
}

.card_image {
  width: 100%;
  height: 360px;
}
